.navbar {
  border-bottom: none;
  box-shadow: 0 5px rgba(0, 64, 31, 0.3);
}

.jumbotron.top {
  height: 700px;
  background-image: url("../img/jumbotron-top.jpg");
  background-repeat: no-repeat;
  background-position: 0px -130px;
}

.jumbotron.top img {
  position: relative;
  top: 250px;
  width: 360px;
}

.intro-section h2 {
  text-align: center;
  font-weight: 300;
  color: rgb(0, 64, 31);
  padding-top: 20px;
}

.about-section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: rgb(0, 64, 31);
  padding-bottom: 30px;
}

.thumbnail {
  border: none;
}

.about-section p {
  font-weight: 300;
  color: rgb(0, 64, 31);
  padding-top: 30px;
  font-size: 20px;
}

.contact-section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: rgb(0, 64, 31);
  padding-bottom: 60px;
}

.contact-section p {
  text-align: center;
  font-weight: 300;
  color: rgb(0, 64, 31);
  font-size: 23px;
  padding-bottom: 20px;
}

.jumbotron.bottom {
  height: 350px;  
  background: url("../img/map.png") center no-repeat;
}

